* {
    box-sizing: border-box;
  }
  
form{
    padding-top: 40px;
    background-color: chartreuse;
    text-align: center;
}
.options{
    margin-bottom: 10px;
    list-style: none;
}


@media only screen and (max-width: 900px) {
    .input-text input, select, textarea{
        width: 300px;
        padding: 10px;
        margin-bottom: 15px;
    }
    input{
        padding: 10px;
        margin-bottom: 15px;
    }
    h6{
        height: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .input-text input, select, textarea{
        width: 350px;
        padding: 10px;
        margin-bottom: 15px;
    }
    input{
        padding: 10px;
        margin-bottom: 15px;
    }
    h6{
        height: 2rem;
    }
}