* {
    box-sizing: border-box;
  }

body{
    margin: 0px;
    background-color: #fdfff8;
    width:100%;
    text-align: center;
}

main{
    margin-left: 60px;
    margin-right: 60px;
}

@media only screen and (max-width: 600px) {
    main{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 600px) {
    @keyframes openclose {
        0% {
          width: 310px;
        }
        100% {
          width: 450px;
        }
      }

      h1{
        max-width: 100%;
      }
}

.info{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
article{
    max-width:450px;
    text-align: left;
    border-width: 20px;
    border-color: #b2f219;
}
h1{
    color: #181f02;
    background-color: #b2f219;
    text-align: left;
    max-width: 450px;
    animation: openclose;
    animation-duration: 3s;
}




article p{
    color: #181f02;
}

.title{
    margin-left: 300px;
}
.title h2{
    text-align: center;

}

.services{
    padding-top: 20px;
    text-align: left;
}


.team{
    margin-top: 60px;
    width: 100%;
}

.card{
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.why-us{
    padding-top: 60px;
    margin-bottom: 70px;
}
.why-us ol{
    text-align: left;
}


.carousel-inner img{
    object-fit: cover;
}

.carousel-caption{
    background: rgb(2,0,36);

}

footer{
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    footer{
        margin-left: 0px;
        margin-right: 0px;
    }
    .row{
        display: inline-block;
        width: 100%;
    }
}

footer ul{
    list-style: none;
    vertical-align: baseline;
}
.row{
    display: inline-block;
}

.map iframe{
    width: 100%;
    height: 200px;
}


.btnScrollToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    border: none;
    z-index: 99;
    display: none;
  }